@import url("https://use.typekit.net/umb5xsx.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  background: black;
  color: white;
  overflow: hidden;
}
.title{
  font-family: "sloop-script-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  margin-top: 1rem;
}
video.screen {
  width: 20vw;
  height: 20vh;
  object-fit: cover;
}

video.bigScreen {
  width: 1024px;
  height: 576px;
  object-fit: cover;
}
